div th:fragment="footer">
<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/task" class="nav-link px-2 text-body-secondary"><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">Задачи</font></font></a>
        </li>
        <li class="nav-item"><a href="/calendar" class="nav-link px-2 text-body-secondary"><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">Календарь</font></font></a>
        </li>
        <li class="nav-item"><a href="/news" class="nav-link px-2 text-body-secondary"><font
                style="vertical-align: inherit;"><font
                style="vertical-align: inherit;"></font></font></a></li>
        <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary"><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">Time Managment</font></font></a></li>

    </ul>

    <p class="text-center text-body-secondary"><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;">© 2025 BSUIR, 21435007</font></font></p>
</footer>
</div>
