
<div th:fragment="header">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top ">
        <div class="container-fluid" bis_skin_checked="1" style="background-color: #0c2636 ">
            <a class="navbar-brand" href="/" style="font-size: 1.2em;">
                <font style="vertical-align: inherit;">
                    <font class="nav-link" href="/" style="vertical-align: inherit; margin-left: 1em;">TIME MANAGMENT</font>
                </font>
            </a>

            <div class="collapse navbar-collapse" id="navbarCollapse" bis_skin_checked="1">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/task"><font style="vertical-align: inherit;"><font class="lead"
                                                                                                          style="vertical-align: inherit;">Задачи</font></font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/projects"><font style="vertical-align: inherit;"><font class="lead"
                                                                                                        style="vertical-align: inherit;">Проекты</font></font></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/users"><font style="vertical-align: inherit;"><font class="lead"
                                                                                                      style="vertical-align: inherit;">Сотрудники</font></font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/calendar"><font style="vertical-align: inherit;"><font class="lead"
                                                                                                          style="vertical-align: inherit;">Календарь </font></font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/schedule"><font style="vertical-align: inherit;"><font class="lead"
                                                                                                          style="vertical-align: inherit;">Рассписание </font></font></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  href="#"  data-bs-toggle="dropdown" ><font class="lead" style="vertical-align: inherit; ">Создать </font></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/project/create"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; ">Добавить проект</font></font></a></li>
                            <li><a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Добавить задачу по проекту</font></font></a></li>
                            <li><a class="dropdown-item" href="/registration"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Добавить сотрудника</font></font></a></li>
                            <li><a class="dropdown-item" href="/usertasks/create"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Назначить задачу</font></font></a></li>
                            <li><a class="dropdown-item" href="/schedule/create"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Составить рассисание</font></font></a></li>

                        </ul>
                    </li>

                </ul>

<!--                                <div style="margin-right: 5px;">-->
<!--                                    <form class="d-flex" role="search">-->
<!--                                        <input class="form-control me-2 lead" type="search" placeholder="Поиск фильма" aria-label="Поиск">-->

<!--                                        <a href="#" class="btn btn-outline-success" type="submit"><font-->
<!--                                                style="vertical-align: inherit;"><font class="lead"-->
<!--                                                style="vertical-align: inherit;" >Поиск </font></font></a>-->
<!--                                    </form>-->
<!--                                </div>-->

                <form >
                    <a href="/personal/inf" class="nav-link text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                             class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                        </svg>
                    </a>
                </form>

            </div>
        </div>

</nav>
</div>